<html>
    <h1> Simple Form </h1>
    <form action="../login1" method="POST">
    <label for="Username">Username</label>
    <input type="text" name="Username">
    <input type="submit">
</form>
</html>