<html>
    <head>
        <title>
            Login / Register page
        </title>
    </head>

<h1> Login </h1>

<form action="./loginregister" method="POST"> 
    <label for="username">Username</label>
    <input type="text" name="Username"><br>
    <label for="password">Password</label>
    <input type="password" name="Password"><br>
    <button> Login</button>
</form>
<h1> Register </h1>

<form> 
    <label for="username">Username</label>
    <input type="text" name="Username"><br>
    <label for="Email">Email</label>
    <input type="text" name="Email"><br>
    <label for="password">Password</label>
    <input type="password" name="Password"><br>
    <button> Register</button>

</form>
</html>