<html>
    <form action="/user/" method="POST">
    <input type="text" name = "Username"><br>
    <input type="text" name = "FullName"><br>
    <input type="text" name = "Address"><br>
    <input type="text" name = "zip"><br>
    <input type="text" name = "Country"><br>
    <input type="text" name = "Password"><br>
    <input type="submit" name="submit"> 
    </form>
    <p> <%= message %></p>
</html>